[submodule "roles/podman_finalize"]
	path = roles/podman_finalize
	url = git@github.com:bensallen/ansible-role-podman_finalize.git
[submodule "roles/podman_setup"]
	path = roles/podman_setup
	url = git@github.com:bensallen/ansible-role-podman_setup.git
